/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        To_Colemak {
            bindings = <&to 1>;
            key-positions = <24 35>;
            layers = <0>;
            timeout-ms = <50>;
            require-prior-idle-ms = <125>;
        };

        To_QWERTY {
            bindings = <&to 0>;
            key-positions = <35 24>;
            timeout-ms = <50>;
            require-prior-idle-ms = <125>;
            layers = <1>;
        };
    };

    behaviors {
        tat: Toggle_And_Tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Toggle Layer And Tap";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE   &kp Q  &kp W  &kp E     &kp R      &kp T          &kp Y    &kp U     &kp I      &kp O    &kp P     &kp BSPC
&lt 6 ESC   &kp A  &kp S  &kp D     &kp F      &kp G          &kp H    &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHIFT  &kp Z  &kp X  &kp C     &kp V      &kp B          &kp N    &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHIFT
                          &kp LALT  &lt 2 TAB  &lt 3 SPACE    &kp RET  &kp RGUI  &kp RCTRL
            >;
        };

        Colemak {
            bindings = <
&kp GRAVE  &kp Q  &kp W  &kp F     &kp P      &kp B          &kp J      &kp L     &kp U      &kp Y    &kp SEMI  &kp BSPC
&lt 6 ESC  &kp A  &kp R  &kp S     &kp T      &kp G          &kp M      &kp N     &kp E      &kp I    &kp O     &kp APOS
&kp LSHFT  &kp Z  &kp X  &kp C     &kp D      &kp V          &kp K      &kp H     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                         &kp LALT  &lt 2 TAB  &lt 3 SPACE    &kp ENTER  &kp RGUI  &kp RCTRL
            >;
        };

        NAV {
            bindings = <
&none  &none  &kp C_VOLUME_DOWN  &kp C_MUTE     &kp C_VOLUME_UP  &none    &kp PRINTSCREEN  &kp SCROLLLOCK  &kp C_PAUSE  &none      &none      &none
&none  &none  &kp C_PREV         &kp C_PLAY     &kp C_NEXT       &none    &kp C_AC_BACK    &kp LEFT        &kp DOWN     &kp UP     &kp RIGHT  &kp C_AC_FORWARD
&none  &none  &none              &kp C_AC_COPY  &kp C_AC_PASTE   &none    &kp INS          &kp HOME        &kp PG_DN    &kp PG_UP  &kp END    &none
                                 &none          &none            &none    &none            &none           &none
            >;
        };

        NUM {
            bindings = <
&none  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS    &kp KP_MINUS  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_EQUAL     &none
&none  &none     &none     &none      &none      &none       &kp KP_PLUS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MULTIPLY  &none
&none  &none     &none     &none      &none      &none       &kp KP_EQUAL  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DIVIDE    &none
                           &none      &none      &none       &kp KP_ENTER  &kp KP_NUMBER_0  &none
            >;
        };

        FUN {
            bindings = <
&none  &none  &kp F7  &kp F8  &kp F9  &kp F12    &none  &none  &none  &none  &none  &none
&none  &none  &kp F4  &kp F5  &kp F6  &kp F11    &none  &none  &none  &none  &none  &none
&none  &none  &kp F1  &kp F2  &kp F3  &kp F10    &none  &none  &none  &none  &none  &none
                      &none   &none   &none      &none  &none  &none
            >;
        };

        GAMING {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        Colemak {
            if-layers = <0>;
            then-layer = <1>;
        };
    };
};
